body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.site-heading-lower{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.mb-3{
    font-family: 'Times New Roman', Times, serif;
    color: lightblue !important;
}
.notblue{
    color: black !important;
}
.intro-text{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
